/*
    Copyright (C) 2014-2015 by Allen Vanderlinde.
    grepster and its source code is licensed under the GNU General Public License (GPL)
    and is subject to the terms and conditions provided in LICENSE.txt.
*/
/* grepster's resource ID paths for Windows OS. */
#include <afxres.h>
#include "grepster_rc.h"

/* Include Windows specific GUI features in executable. */
#include <wx/msw/wx.rc>

/* This resource is required to be defined first in order to correctly display title bar icon. */
aaaaappicon                         ICON        "grepster.ico"

RESID_PNG_SPLASH                    RCDATA      "splash.png"
RESID_PNG_SERVER_STACK              RCDATA      "serverstack.png"
RESID_PNG_ABOUT                     RCDATA      "about.png"
RESID_PNG_CREDENTIALS               RCDATA      "credentials.png"
RESID_PNG_TOOLS                     RCDATA      "ssh.png"
